<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="Board">
  	
  	<resultMap type="com.test.tsp.board.model.vo.Board" id="boardResultSet">
  		<id property="bNo" column="BNO"/>
  		<result property="bTitle" column="BTITLE"/>
  		<result property="bContent" column="BCONTENT"/>
  		<result property="writenDate" column="WRITEN_DATE"/>
  		<result property="bCount" column="BCOUNT"/>
  		<result property="bWriter" column="NICK_NAME"/>
  		<result property="bCode" column="BCODE"/>
  	</resultMap>
  	
  	<resultMap type="java.util.HashMap" id="boardListResultSet">
  		<id property="bNo" column="BNO"/>
  		<result property="bTitle" column="BTITLE"/>
  		<result property="bContent" column="BCONTENT"/>
  		<result property="writenDate" column="WRITEN_DATE"/>
  		<result property="bCount" column="BCOUNT"/>
  		<result property="bWriter" column="NICK_NAME"/>
  	</resultMap>

  
	<select id="selectBoardList" resultMap="boardListResultSet" parameterType="int">
		SELECT B.BNO, B.BTITLE, B.WRITEN_DATE,B.BCOUNT,M.NICK_NAME
		FROM BOARD B 
		JOIN MEMBER M ON(B.BWRITER = M.MNO)
		WHERE BCODE = #{bCode}
	</select>
	
	<insert id="insertBoard" parameterType="java.util.HashMap">
		INSERT INTO BOARD 
		VALUES(SEQ_BNO.NEXTVAL,
				#{board.bTitle},
				#{board.bContent},
				SYSDATE,
				0,
				#{member.mNo},
				#{board.bCode})
	</insert>
  
</mapper>